@import 'colors/color.css';

window {
  background-color: rgba(24, 27, 32, 0.25);
}

button {
  all: unset;
  border: none;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  background-color: transparent;
  animation: gradient_f 1s ease-in-out infinite;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px 2px transparent;
  border-radius: 70px;
  margin-top: 210px;
  margin-bottom: 140px;
  margin-left: 15px;
  margin-right: 15px;
  outline: none;
}

label {
  font-family: Merienda Medium;
  font-size: 21px;
  color: @on_surface;
}

button:focus {
  outline: none;
  box-shadow: none;
  background-size: 25%;
}

button:hover {
  background-size: 40%;
  box-shadow: 0 0 10px 3px alpha(@shadow, 0.5);
  background-color: alpha(@inverse_primary, 0.5);
  color: transparent;
  outline: none;
  transition:
    all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682),
    box-shadow 0.2s ease-in-out;
}

#shutdown {
  background-image: image(url('/home/omodudu/.config/wlogout/icons/power.png'));
}
#shutdown:hover {
  background-image: image(
    url('/home/omodudu/.config/wlogout/icons/power-hover.png')
  );
}

#logout {
  background-image: image(
    url('/home/omodudu/.config/wlogout/icons/logout.png')
  );
}
#logout:hover {
  background-image: image(
    url('/home/omodudu/.config/wlogout/icons/logout-hover.png')
  );
}

#reboot {
  background-image: image(
    url('/home/omodudu/.config/wlogout/icons/restart.png')
  );
}
#reboot:hover {
  background-image: image(
    url('/home/omodudu/.config/wlogout/icons/restart-hover.png')
  );
}

#lock {
  background-image: image(url('/home/omodudu/.config/wlogout/icons/lock.png'));
}
#lock:hover {
  background-image: image(
    url('/home/omodudu/.config/wlogout/icons/lock-hover.png')
  );
}

#hibernate {
  background-image: image(
    url('/home/omodudu/.config/wlogout/icons/hibernate.png')
  );
}
#hibernate:hover {
  background-image: image(
    url('/home/omodudu/.config/wlogout/icons/hibernate-hover.png')
  );
}

#sleep {
  background-image: image(url('/home/omodudu/.config/wlogout/icons/sleep.png'));
}
#sleep:hover {
  background-image: image(
    url('/home/omodudu/.config/wlogout/icons/sleep-hover.png')
  );
}
